<h3>Categories</h3>

<mat-form-field >
  <input matInput #newCategory (keyup.enter)="addNewCategory(newCategory.value)"
         placeholder="Add new category">
</mat-form-field>

<div class="categories">
  <div *ngFor="let category of categories">
    <div class="category">
      <a class="category-name" (click)="onSelect(category)">{{category.name}}</a>
      <div class="buttons">
        <button mat-icon-button (click)="editCategory(category)"><i class="material-icons">mode_edit</i></button>
        <button mat-icon-button (click)="deleteCategory(category)"><i class="material-icons">delete</i></button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="errorMessage">{{errorMessage}}</div>
