:host {
  width: 900px;
}

input {
  width: 400px;
}

.todo-content {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input {
  flex-basis: 20px;
}

i {
  flex-basis: 500px;
  flex-grow: 3;
}

i.task-completed {
  text-decoration:line-through;
}

h3 {
  text-align: center;
}

mat-form-field {
  width: 400px;
}

.board {
  display: flex;
  justify-content: space-between;
  mat-table {
    min-width: 150px;
  }
}
