<h3>{{categoryName}}</h3>

<form class="form-group" [class]="inputClasses()" [formGroup]="todoForm" (ngSubmit)="addNewTodo(newTodo.value)">
  <mat-form-field>
    <input matInput type="text"
           formControlName="todo" #newTodo placeholder="Add new task">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="todoForm.get('todo').hasError('maxlength')">
    <strong>To long task.</strong>
  </div>
</form>

<div *ngFor="let todo of todos; let i = index">
  <div class="todo-content form-group">
    <input type="checkbox" (click)="changeTodoCompleteField(i)" (blur)="updateTodo(todo)"
           [checked]="isCompleted(todo)"/>
    <i [class]="isCompleted(todo)">
      {{todo.name}}
    </i>
    <div class="buttons">
      <button (click)="editTodo(todo)">
        <fa name="pencil-square-o"></fa>
      </button>
      <button (click)="deleteTodo(todo)">
        <fa name="trash"></fa>
      </button>
    </div>
  </div>
</div>

<button mat-button>         <fa name="pencil-square-o"></fa></button>
<button mat-raised-button>  <fa name="pencil-square-o"></fa></button>
<button mat-icon-button>    <fa name="pencil-square-o"></fa></button>
<button mat-fab>            <fa name="pencil-square-o"></fa></button>
<button mat-mini-fab>       <fa name="pencil-square-o"></fa></button>
<button mat-button>         <fa name="trash"></fa></button>
<button mat-raised-button>  <fa name="trash"></fa></button>
<button mat-icon-button>    <fa name="trash"></fa></button>
<button mat-fab>            <fa name="trash"></fa></button>
<button mat-mini-fab>       <fa name="trash"></fa></button>
