<h3>{{categoryName}}</h3>

<form class="form-group" [formGroup]="todoForm"
      (ngSubmit)="addNewTodo(newTodo.value)">
  <mat-form-field>
    <input matInput type="text"
           formControlName="todo" #newTodo placeholder="Add new task">
  </mat-form-field>
  <div class="alert alert-danger" *ngIf="todoForm.get('todo').hasError('maxlength')">
    <strong>To long task.</strong>
  </div>
</form>

<!-- <div *ngFor="let todo of todos; let i = index">
  <div class="todo-content form-group">
    <mat-toolbar>
      <i [class]="setClassTaskCompleted(todo)">
        {{todo.name}}
      </i>
      <div class="buttons">
        <button mat-mini-fab (click)="changeTodoCompleteField(i)">
          <i class="material-icons" [style.color]="isCompleted(todo) ? 'lawngreen' : ''">offline_pin</i>
        </button>
        <button mat-mini-fab (click)="editTodo(todo)">
          <i class="material-icons">mode_edit</i>
        </button>
        <button mat-mini-fab (click)="deleteTodo(todo)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </mat-toolbar>
  </div>
</div> -->

<div class="board">
  <mat-table #table0 [dataSource]="new">
    <ng-container matColumnDef="new">
        <mat-header-cell *matHeaderCellDef> New ToDo </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="editTodo(element)"> {{element.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['new']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['new'];"></mat-row>
  </mat-table>

  <mat-table #table1 [dataSource]="inProgress">
    <ng-container matColumnDef="inProgress">
        <mat-header-cell *matHeaderCellDef> In progress </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="editTodo(element)"> {{element.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['inProgress']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['inProgress'];"></mat-row>
  </mat-table>

  <mat-table #table2 [dataSource]="inTesting">
    <ng-container matColumnDef="inTesting">
        <mat-header-cell *matHeaderCellDef> In testing </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="editTodo(element)"> {{element.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['inTesting']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['inTesting'];"></mat-row>
  </mat-table>

  <mat-table #table1 [dataSource]="completedTodo">
    <ng-container matColumnDef="completed">
        <mat-header-cell *matHeaderCellDef> Completed </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="editTodo(element)"> {{element.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['completed']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['completed'];"></mat-row>
  </mat-table>
</div>
