@headBackground: #4000ff;

:host {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.title {
  display: block;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  height: 100px;
  background: @headBackground;
  color: #FFFFFF;
}

nav {
  background: @headBackground;
}

nav button {
  margin-left: 25px;
}
