@headBackground: #4053b2;
@headerColor: #FFFFFF;

:host {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-content {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  font-weight: 600;
  font-size: x-large;
}

.profile-img {
  display: flex;
  justify-content: flex-end;
}

.user-btn {
  position: relative;
  background-image: url("../resources/default_user.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
}
