<div class="registration-content">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <mat-form-field class="registration-input">
        <input matInput type="text" name="firstName" [(ngModel)]="model.firstName"
               #firstName="ngModel" placeholder="First name"
               required/>
      </mat-form-field>
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <mat-form-field class="registration-input">
        <input matInput type="text" name="username" [(ngModel)]="model.username"
               #username="ngModel" placeholder="Username"
               required/>
      </mat-form-field>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <mat-form-field class="registration-input">
        <input matInput type="password" name="password" [(ngModel)]="model.password"
               #password="ngModel" placeholder="Password"
               required/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button mat-button [disabled]="loading" class="btn btn-primary">Register</button>
      <a [routerLink]="['/login']" class="cancel-link">Cancel</a>
    </div>
  </form>
</div>

